<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de candidato</title>
</head>
<body>
    
    <h1>Cadastro de candidato</h1>

     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Cadastrar Candidato</button>
    </form>
    
    <p><a href=" {% url 'candidatos' %}">Lista de candidatos</a></p>
    <p><a href=" {% url 'index' %}">Página inicial</a></p> 

</body>
</html>
