<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index de Empregos</title>
</head>
<body>
    <h1>Index de Empregos</h1>

    <p><a href=" {% url 'vagas' %}">Lista de vagas</a></p> 
    <p><a href=" {% url 'candidatos' %}">Lista de candidatos</a></p> 
    <p><a href=" {% url 'cadastrar_vaga' %}">Cadastro de Vaga</a></p> 
    <p><a href=" {% url 'cadastrar_candidato' %}">Cadastro de Candidato</a></p> 
</body>
</html>
