<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vagas</title>
</head>
<body>
    <h1>Lista de Vagas</h1>
    <table border="1" cellpadding="5" cellspacing="3">
        <tr>
            <th>Título</th>
            <th>Área</th>
            <th>Tipo de contrato</th>
            <th>Descrição</th>
        </tr>
        {% for vaga in vagas %}
        <tr>
            <td>{{ vaga.titulo }}</td>
            <td>{{ vaga.get_area_display }}</td>
            <td>{{ vaga.get_tipo_contrato_display }}</td>
            <td>{{ vaga.descricao }}</td>

        </tr>
        {% endfor %}
    </table>

    <p><a href=" {% url 'cadastrar_vaga' %}">Cadastro de Vaga</a></p> 
    <p><a href=" {% url 'index' %}">Página inicial</a></p> 
</body>
</html>
